/TaskManagement/bin 
/TaskManagement/obj 
/TaskManagment.Application/bin
/TaskManagment.Application/obj
/TaskManagement.Persistence/bin
/TaskManagement.Persistence/obj
/TaskManagemnt.Domain/bin
/TaskManagemnt.Domain/obj